
body{

   background: grey;
   width: 940px;
   position: relative;
   margin: 0 auto;
}

.logo{

   float: left;

   width: 10%;
   transition: 300ms;
}

.Titulo-principal{

   text-align: center;
   text-transform: uppercase;
   color: #000000;
   font-weight:bold;
   font-size:22px;
   text-decoration: none;
}

.incriptador{

   width: 15%;
   padding: 15px 0;
   font-size:18px ;
   font-weight: bold;
   color: blue;
   background: white;
   border: none;
   border-radius: 5px;
   transition: 1s all;
   cursor: pointer;
}

.desencriptador{

   width: 15%;
   padding: 15px 0;
   font-size:18px ;
   font-weight: bold;
   color: blue;
   background: white;
   border: none;
   border-radius: 5px;
   transition: 1s all;
   cursor: pointer;
}

.copiar{

   width: 15%;
   padding: 15px 0;
   font-size:18px ;
   font-weight: bold;
   color: blue;
   background: white;
   border: none;
   border-radius: 5px;
   transition: 1s all;
   cursor: pointer;
}

.botones-displey{

   border-radius: 50px;
   margin: 10px 10px 20px 0px;

}